<div class="home" >

    <div class="main-slide">
        <div data-animation="fade-in-slide" data-delay=".25s" style="animation-delay: 0.25s;" class="watch-viewport.in-viewport">
            <p class="small-title">Depuis 2003</p>
            <h1 class="custom-title">
                Agence digitale
                <span class="custom-title__item">créative</span>
            </h1>
            <p>
                notre société de fiduciaire offre des <strong>solutions financières</strong> sur mesure.
                De la comptabilité à la <strong>planification patrimoniale</strong>,
                nous combinons expertise et créativité pour répondre à vos besoins avec précision et efficacité.
                Nous nous engageons à fournir un service de haute qualité à nos clients.
                La satisfaction de nos clients est notre priorité absolue.

            </p>
        </div>
    </div>
    <div>
        <img src="assets/images/image.jpg" alt="Image">
    </div>
    <div class="container">
        <div class="xs-content">
            <div id="slider">
                <input type="radio" name="slider" id="slide1" checked>
                <input type="radio" name="slider" id="slide2">
                <input type="radio" name="slider" id="slide3">
                <input type="radio" name="slider" id="slide4">
                <div id="slides">
                    <div id="overflow">
                        <div class="inner">
                            <div class="slide slide_1">
                                <div class="slide-content">
                                    <p class="custom-small-title">Notre philosophie</p>
                                    <h2>Chez Synchrone</h2>
                                    <p class="lead">
                                        nous prenons
                                        <strong>plaisir</strong>
                                        à travers notre travail et y ajoutons toujours une petite touche de créativité.
                                    </p>
                                </div>
                            </div>
                            <div class="slide slide_2">
                                <div class="slide-content">
                                    <p class="custom-small-title">Notre philosophie</p>
                                    <h2>Chez Synchrone</h2>
                                    <p class="lead">
                                        nous sommes à
                                        <strong>l'écoute</strong>
                                        des nouvelles tendances mais surtout de vos besoins et celle de vos clients.

                                    </p>
                                </div>
                            </div>
                            <div class="slide slide_3">
                                <div class="slide-content">
                                    <p class="custom-small-title">Notre philosophie</p>
                                    <h2>Chez Synchrone</h2>
                                    <p class="lead">
                                        nous gardons constamment un oeil critique sur notre travail afin
                                        <strong> d'évoluer </strong>
                                        grâce à vous.
                                    </p>
                                </div>
                            </div>
                            <div class="slide slide_4">
                                <div class="slide-content">
                                    <p class="custom-small-title">Notre philosophie</p>
                                    <h2>Chez Synchrone</h2>
                                    <p class="lead">
                                        nous tenons nos
                                        <strong>engagements</strong>
                                        afin d’entretenir des relations basées sur la confiance et l’entente.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="controls">
                    <label for="slide1"></label>
                    <label for="slide2"></label>
                    <label for="slide3"></label>
                    <label for="slide4"></label>
                </div>
                <div id="bullets">
                    <label for="slide1"></label>
                    <label for="slide2"></label>
                    <label for="slide3"></label>
                    <label for="slide4"></label>
                </div>
            </div>

        </div>
    </div>
    <br>
    <section id="valeurs" class="margin-large-vertical">
        <div class="container1">
            <div class="row no-gutters">
                <div class="col-lg-3">
                    <div class="margin-top-base">
                        <h2  class="custom-title"></h2>
                        Nos
                        <span class="custom-title__item">valeurs</span>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="services-list flex-box flex-wrap">
                        <div  class="services-list--item">
                            <div class="w-100">
                                <i class="icon-pro watch-viewport fade-in slide-up in-viewport" ></i>
                                <h3  class="h4 watch-viewport fade-in slide-up in-viewport"  style="animation-delay: 0.1s;">
                                    Le professionnalisme
                                </h3>
                                <p class="p1"   class="watch-viewport fade-in slide-up in-viewport" style="animation-delay: 0.2s;">
                                    Pour nous, vous n’êtes pas qu’un client, vous êtes avant tout un
                                    partenaire avec des besoins, des objectifs et des contraintes.
                                    Nous y répondons avec professionnalisme et compréhension.
                                </p>

                            </div>
                        </div>
                        <div  class="services-list--item">
                            <div class="w-100">
                                <i class="icon-excellence watch-viewport fade-in slide-up in-viewport"></i>

                                <h3 class="h4 watch-viewport fade-in slide-up in-viewport"  style="animation-delay: 0.1s;">
                                    L’excellence
                                </h3>
                                <p class="p1" class="watch-viewport fade-in slide-up in-viewport" style="animation-delay: 0.2s;">La veille technologique étant au cœur de notre métier,
                                    acquérir de nouvelles compétences ainsi que maîtriser
                                    les dernières technologies est notre moteur au quotidien.
                                </p>
                            </div>
                        </div>
                        <div  class="services-list--item">
                            <div class="w-100">
                                <i class="icon-equipe watch-viewport fade-in slide-up in-viewport" ></i>
                                <h3 class="h4 watch-viewport fade-in slide-up in-viewport" >
                                    L’esprit d’équipe
                                </h3>
                                <p class="p1" class="watch-viewport fade-in slide-up in-viewport" style="animation-delay: 0.2s;">Au sein de notre<strong> agence</strong>, les valeurs humaines forment le noyau d’une philosophie
                                    qui porte sur l’échange des connaissances et la convivialité de ces échanges.
                                </p>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </section>

</div>
