/* Center the text and make it look professional */
p {
    text-align: center;
    font-family: "Arial", "Courier New", monospace;
    color: rgb(3, 3, 3); /* Adjust the color as needed */
    font-weight: normal ;
    font-size: larger;
    padding: 20px 130px 20px 130px;
}

/* Style the <h1> element */
h1 {
    font-size: 2.5rem; /* Adjust the font size as needed */
    margin-bottom: 20px; /* Add some spacing below the <h1> */
    text-align: center;
    font-family: Arial, serif;
    color: rgb(0, 58, 105); /* Adjust the color as needed */
    font-weight: bold ;
}

/* Style the <hr> element */
.hr-container {
    text-align: center;
    border: 3px solid #ff8400;
    width: 5%; /* Set the width of the line */
    margin: 0 auto; /* Center the line */
    height: 4px;
}

