<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></button>
    </div>

    <!-- Slides -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/images/fiduc.jpg" class="d-block w-100" alt="Image 1">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item active">
            <img src="assets/images/comptabilit-.png" class="d-block w-100" alt="Image 2">
            <div class="carousel-caption d-none d-md-block">
                <h5>CONSULTATION 100% GRATUITE</h5>
            </div>
        </div>
        <div class="carousel-item active">
            <img src="assets/images/fid4.jpg" class="d-block w-100" alt="Image 3">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
    </div>

    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br>
<br>
<h1>Notre Savoir Faire</h1>
<div class="hr-container">
</div>

<p>Avec une expérience de plus de 15 ans, notre cabinet met à votre disposition une variété de services pour vous accompagner dans vos projets.
    Nous mettrons à votre disposition des professionnels qualifiés et expérimentés pour vous guider dans chacune des étapes.</p>
<br>
<br>
<div class="container"> <!-- Wrap the content in a container to control the width -->
    <div class="row justify-content-center"> <!-- Center the row -->
        <div class="col-md-4"> <!-- Set the column size to medium (adjust as needed) -->
            <div class="card h-100">
                <img src="assets/images/1540802446196.jpeg" class="card-img-top img-fluid" alt="Image 1" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Création et domiciliation</h5>
                    <p class="card-text">Notre cabinet est spécialisé dans la création d'entreprise à Marrakech et prend en charge vos démarches de A à Z.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4"> <!-- Set the column size to medium (adjust as needed) -->
            <div class="card h-100">
                <img src="assets/images/conseil.jpg" class="card-img-top img-fluid" alt="Image 2" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Conseil fiscal</h5>
                    <p class="card-text">Pour une meilleure optimisation fiscale, choisissez la compétence confirmée de notre équipe.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4"> <!-- Set the column size to medium (adjust as needed) -->
            <div class="card h-100">
                <img src="assets/images/cmpt.jpg" class="card-img-top img-fluid" alt="Image 3" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Tenue et assistance comptable</h5>
                    <p class="card-text">Notre équipe prend en charge tout ou une partie du processus comptable de votre entreprise.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="container"> <!-- Wrap the content in a container to control the width -->
    <div class="row justify-content-center"> <!-- Center the row -->
        <div class="col-md-4"> <!-- Set the column size to medium (adjust as needed) -->
            <div class="card h-100">
                <img src="assets/images/juridique.jpeg" class="card-img-top img-fluid" alt="Image 1" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Conseil et assistance juridique</h5>
                    <p class="card-text">Nous garantissons à nos clients les meilleures prestations juridiques en droit des affaires et des sociétés.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4"> <!-- Set the column size to medium (adjust as needed) -->
            <div class="card h-100">
                <img src="assets/images/extern.jpg" class="card-img-top img-fluid" alt="Image 2" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Externalisation de la Paie et la gestion des Ressources Humaines</h5>
                    <p class="card-text">Nous nous occupons de tous les aspects sociaux et ressources humaines de votre société.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4"> <!-- Set the column size to medium (adjust as needed) -->
            <div class="card h-100">
                <img src="assets/images/financiere.jpg" class="card-img-top img-fluid" alt="Image 3" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Ingénierie financière</h5>
                    <p class="card-text">Nous gérons efficacement votre trésorerie et optimisons vos charges financières.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<h1>À propos de nous</h1>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card mb-4" style="max-width: 85%;">
            <div class="row g-0">
                <div class="col-md-6">
                    <img src="assets/images/nous1.jpg" class="img-fluid rounded-start" alt="à propos de nous" style="height: 100%;">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <p class="card-text"> <span class="colored-word">websiteName</span> est un fiduciaire à Marrakech, dont les membres sont composés de comptables, d’assistants et d’assistants comptables. Nos 12 ans de succès dans le domaine de la comptabilité, gestion de projets, permettent à nos clients de bénéficier de conseils, d’accompagnement en matière de travaux comptables, de domiciliation. Dans le cadre de notre stratégie, les créateurs de sociétés peuvent bénéficier d’une panoplie de services allant de la domiciliation jusqu’aux travaux de comptabilité.
                        </p>
                        <p class="card-text">Le marché évolue dans un climat ambiant, et seuls les meilleurs pourront rester compétitifs. Il est donc important de se mettre tous les moyens pour réussir son investissement que ce soit en domiciliant son entreprise, en tenant sa comptabilité ou en bénéficiant de conseils juridiques et fiscaux qui donnent des avantages compétitifs importants. Notre fiduciaire à Casablanca offre toutes ces prestations en mettant en place des packs taillées pour tous les besoins et les budgets.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

