<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card mb-4" style="max-width: 85%;">
            <div class="row g-0">
                <div class="col-md-6">
                    <img src="assets/images/nous1.jpg" class="img-fluid rounded-start" alt="à propos de nous" style="height: 100%;">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <p class="card-text"><span class="colored-word">FIDUCIAIRE</span> à Marrakech, dont les membres sont composés de comptables, d’assistants et d’assistants comptables. Nos 12 ans de succès dans le domaine de la comptabilité, gestion de projets, permettent à nos clients de bénéficier de conseils, d’accompagnement en matière de travaux comptables, de domiciliation. Dans le cadre de notre stratégie, les créateurs de sociétés peuvent bénéficier d’une panoplie de services allant de la domiciliation jusqu’aux travaux de comptabilité.
                        </p>
                        <p class="card-text">Le marché évolue dans un climat ambiant, et seuls les meilleurs pourront rester compétitifs. Il est donc important de se mettre tous les moyens pour réussir son investissement que ce soit en domiciliant son entreprise, en tenant sa comptabilité ou en bénéficiant de conseils juridiques et fiscaux qui donnent des avantages compétitifs importants. Notre fiduciaire à Casablanca offre toutes ces prestations en mettant en place des packs taillées pour tous les besoins et les budgets.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
