.colored-word {
    color: #005aa1; /* Or any other color you prefer */
    font-size: larger;
    font-weight: bold;
}
.card-text {
    font-size: 16px;
    line-height: 1.6;
    color: #2c2b2b; /* Change the color as needed */
    font-family: Arial, Helvetica, sans-serif;
}
.card.mb-4 {
    border: none; /* Make the border invisible */
    box-shadow: none; /* Remove any box shadow */
}


